@import compass
@import compass/reset

$default-font: Arial, Helvetica, sans-serif

body
  background-color: rgba( 214, 219, 219, 0.7 )

#header-wrap
  +clearfix
  background: image-url( "bg-body.jpeg" ) repeat-x

#header
  +clearfix
  background: image-url( "bg-wrap.jpeg" ) no-repeat
  width: 960px
  margin: 0 auto
  position: relative

#header-inner
  +clearfix
  background: image-url( "bg-header.png" ) no-repeat
  background-position: 390px 175px

#title
  +float-left
  +clearfix
  padding: 60px 0 0

#link-title
  +hide-text
  background: image-url( "sprite/logo.png" ) no-repeat
  display: block
  width: 209px
  height: 50px

#menu
  +float-right
  +clearfix
  background: image-url( "nav-icon-new-day.png" ) no-repeat
  background-position: 330px 68px

.menu-item
  +float-left
  +clearfix
  display: block

.link-menu-item
  +hide-text
  display: block
  position: relative
  &:hover, &:active
    color: #ff0

#link-home
  background: image-url( "sprite/bg-nav-home.png" ) no-repeat
  background-position: 0px 0px
  width: 69px
  height: 111px
  &:hover, &:active
    background-position: 0px -222px

#link-about
  background: image-url( "sprite/bg-nav-about.png" ) no-repeat
  background-position: 0px 0px
  width: 77px
  height: 111px
  &:hover, &:active
    background-position: 0px -222px

#link-work
  background: image-url( "sprite/bg-nav-work.png" ) no-repeat
  width: 71px
  height: 111px
  &:hover, &:active
    background-position: 0px -222px

#link-blog
  background: image-url( "sprite/bg-nav-blog.png" ) no-repeat
  background-position: 0px 0px
  width: 63px
  height: 111px
  &:hover, &:active
    background-position: 0px -222px

#link-shop
  background: image-url( "sprite/bg-nav-shop.png" ) no-repeat
  background-position: 0px -111px
  width: 63px
  height: 111px
  &:hover, &:active
    background-position: 0px -333px

#link-contact
  background: image-url( "sprite/bg-nav-contact.png" ) no-repeat
  background-position: 0px 0px
  width: 96px
  height: 111px
  &:hover, &:active
    background-position: 0px -222px

#link-shop
  color: #ff0

#banner
  +hide-text
  clear: both
  background: image-url( "sprite/bg-banner-home.png" ) no-repeat
  background-position: 50% 40px
  width: 960px
  height: 107px
  padding: 30px 0 46px

#main-wrap
  +clearfix
  background-color: white

#main
  +clearfix
  width: 960px
  padding: 14px 0 0
  margin: 0 auto

.block
  +float-left
  +clearfix
  width: 300px
  padding: 15px 30px 15px 0

.block-category
  font-family: $default-font
  font-size: 12px
  color: #93a6b0
  padding: 20px 0 0

.block-title
  font-family: $default-font
  font-size: 24px
  font-weight: bold
  padding: 8px 0 4px

.block-title-link
  color: #f00
  text-decoration: none
  &:hover, &:active
    text-decoration: underline

.block-taster
  font-family: $default-font
  font-size: 12px
  line-height: 20px

.taster-strong
  font-weight: bold

#recent-work-preview-link
  +hide-text
  background: image-url( "recent-criterion-1.jpeg" ) no-repeat
  display: block
  width: 300px
  height: 200px

#from-blog-preview-link
  +hide-text
  background: image-url( "recent-criterion-2.jpeg" ) no-repeat
  display: block
  width: 300px
  height: 200px

#ad
  +float-left
  +clearfix
  background: image-url( "img-quote-bart.jpeg" ) no-repeat
  width: 300px
  height: 385px
  padding: 15px 0
  position: relative

#ceo-name
  background: #f00
  font-family: $default-font
  font-size: 20px
  color: #fff
  text-align: right
  display: block
  width: 150px
  height: 20px
  padding: 8px
  position: absolute
  top: 135px
  right: 10px

#ceo-title
  background: rgba( 255, 0, 0, 0.4 )
  font-family: $default-font
  font-size: 12px
  color: #fff
  text-align: right
  display: block
  width: 90px
  height: 12px
  padding: 8px
  position: absolute
  top: 170px
  right: 10px

#ceo-words
  font-family: $default-font
  font-size: 18px
  color: #fff
  line-height: 26px
  text-align: right
  width: 260px
  position: absolute
  top: 220px
  right: 15px

#footer-wrap
  +clearfix
  //background-color: rgba = ( 214, 219, 219, 0.7 )

#footer
  +clearfix
  width: 960px
  padding: 30px 0
  margin: 0 auto

.footer-item
  +float-left
  +clearfix
  font-family: $default-font
  font-size: 12px
  line-height: 18px
  width: 210px
  height: 75px
  padding: 0 10px 0 25px
  border-right: 1px dotted rgba( 31, 97, 154, 0.3 )

.footer-strong
  font-weight: bold

.footer-item-title
  font-family: $default-font
  font-size: 14px
  font-weight: bold
  color: #1f619a
  line-height: 24px

.link-footer-item-title
  color: #1f619a
  text-decoration: none
  &:hover, &:active
    text-decoration: underline

.footer-link
  font-weight: bold
  color: #000
  text-decoration: none
  border-bottom: 1px dotted #1f619a
  &:hover, &:active
    border-bottom: 1px solid #1f619a

#footer-logo
  width: 53px
  height: 71px
  padding: 0 0 0 15px
  border-right: 0

#link-footer-logo
  +hide-text
  background: image-url( "bg-footer-whoisthis.jpeg" ) no-repeat
  display: block
  width: 53px
  height: 71px

#info
  width: 140px
  padding: 0 0 0 15px

#copyright
  width: 220px
  padding: 0 0 0 20px
  border-right: 0px
