---
title: 45royale Inc.
---

<div id="header-wrap">
  <div id="header">
    <div id="header-inner">
      <h1 id="title">
        <a href="#" id="link-title" title="Home">45royale Inc.</a>
      </h1>
      <ul id="menu">
        <li id="home" class="menu-item">
          <a href="#" id="link-home" class="link-menu-item" title="Home">HOME</a>
        </li>
        <li id="about" class="menu-item">
          <a href="#" id="link-about" class="link-menu-item" title="About">ABOUT</a>
        </li>
        <li id="work" class="menu-item">
          <a href="#" id="link-work" class="link-menu-item" title="Work">WORK</a>
        </li>
        <li id="blog" class="menu-item">
          <a href="#" id="link-blog" class="link-menu-item" title="Blog">BLOG</a>
        </li>
        <li id="shop" class="menu-item">
          <a href="#" id="link-shop" class="link-menu-item" title="Shop">SHOP</a>
        </li>
        <li id="contact" class="menu-item">
          <a href="#" id="link-contact" class="link-menu-item" title="Contact">CONTACT</a>
        </li>
      </ul>
      <p id="banner">We are a small, yet dedicated and enthusiastic <strong>web design studio</strong> located in the bustling metropolis of <strong>Roswell, Georgia</strong>. We love building <strong>clean, unique</strong> and <string>usable web sites</string> and <strong>web applications</strong>.</p>
    </div>
  </div>
</div>
<div id="main-wrap">
  <div id="main">
    <div id="recent-work" class="block">
      <a id="recent-work-preview-link" href="#" title="Recent Work: Criterion Collection">Recent work: Criterion Collection</a>
      <h4 id="category-recent-work" class="block-category">RECENT WORK</h4>
      <h5 class="block-title">
        <a href="#" class="block-title-link" title="Criterion Collection">Criterion Collection</a>
      </h5>
      <p class="block-taster">We spent the first half of 2008 working closely with the guys from The Auteurs on launching the beta version of their new site. We barely got the <strong class="taster-strong">first iteration out the door</strong> before partnering with The Criterion Collection to bring great films to the masses.</p>
    </div>
    <div id="from-blog" class="block">
      <a id="from-blog-preview-link" href="#" title="Blog: Happy Birthday - 45royale Turn Five!">Blog: Happy Birthday - 45royale Turn Five!</a>
      <h4 id="category-from-blog" class="block-category">FROM THE BLOG</h4>
      <h5 class="block-title">
        <a href="#" class="block-title-link" title="Happy Birthday - 45royale Turn Five!">Happy Birthday — 45royale Turns Five!</a>
      </h5>
      <p class="block-taster">In Feburuary of 2006, 45royale opened up it's doors. We couldn't have made it this far without the support of our tantastic peers and outstanding clients.</p>
    </div>
    <div id="ad">
      <p id="ceo-name">Bart Decrem</p>
      <p id="ceo-title">CEO, Tapulaus</p>
      <p id="ceo-words">"45royale headed the Tapulous site build and they continue to deliver clean, elegant design — perfectly executed, on time and on budget."</p>
    </div>
  </div>
</div>
<div id="footer-wrap">
  <div id="footer">
    <div id="footer-logo" class="footer-item">
      <a href="#" id="link-footer-logo" title="45royale Inc.">45royale Inc.</a>
    </div>
    <div id="info" class="footer-item">
      <h5 class="footer-item-title">
        <a href="#" class="link-footer-item-title" title="45royale Inc.">45royale Inc.</a>
      </h5>
      <p><strong class="footer-strong">a web design studio</strong><br>34.23N, 84.42W</p>
    </div>
    <div id="hire-info" class="footer-item">
      <h5 class="footer-item-title">Want to work with us?</h5>
      <p>Fill out our <a href="#" class="footer-link" title="Request for proposal">Request for Proposal form</a> and tell us about your project.</p>
    </div>
    <div id="newsletter" class="footer-item">
      <h5 class="footer-item-title">Sign up for our newsletter</h5>
      <p>Get the latest news by <a href="#" class="footer-link" title="Sign up">signing up</a> for our quarterly newsletter.</p>
    </div>
    <div id="copyright" class="footer-item">
      <p class="footer-item-title">Copyright &copy; 2005-2011</p>
      <p>All rights reserved. Please don't steal.<br>+1 404 946 9459 / <a href="mailto:info@45royale.com" class="footer-link" title="Email us">info@45royale.com</a></p>
    </div>
  </div>
</div>