---
title: 45royale Inc.
---

<div id="header">
  <div id="wrap-header">
    <h1 id="title">
      <a href="#" id="link-title" title="Home">45royale Inc.</a>
    </h1>
    <ul id="menu">
      <ui id="home" class="menu-item">
        <a href="#" id="link-home" class="link-menu-item" title="Home">HOME</a>
      </ui>
      <ui id="about" class="menu-item">
        <a href="#" class="link-menu-item" id="link-about" title="About">ABOUT</a>
      </ui>
      <ui id="work" class="menu-item">
        <a href="#" id="link-work" class="link-menu-item" title="Work">WORK</a>
      </ui>
      <ui id="blog" class="menu-item">
        <a href="#" id="link-blog" class="link-menu-item" title="Blog">BLOG</a>
      </ui>
      <ui id="shop" class="menu-item">
        <a href="#" id="link-shop" class="link-menu-item" title="Shop">SHOP <span class="hint-new">NEW</span></a>
      </ui>
      <ui id="contact" class="menu-item">
        <a href="#" id="link-contact" class="link-menu-item" title="Contact">CONTACT</a>
      </ui>
    </ul>
    <p id="banner">We are a small, yet dedicated and enthusiastic <strong>web design studio</strong> located in the bustling metropolis of <strong>Roswell, Georgia</strong>. We love building <strong>clean, unique</strong> and <string>usable web sites</string> and <strong>web applications</strong>.</p>
    <div id="rocket"></div>
  </div>
</div>
<div id="body">
  <div id="wrap-body">
    <div id="recent-work" class="block">
      <div id="category-recent-work" class="block-category">RECENT WORK</div>
      <h4 class="block-title"><a href="#" class="block-title-link" title="Criterion Collection">Criterion Collection</a></h4>
      <p class="block-taster">We spent the first half of 2008 working closely with the guys from The Auteurs on launching the beta version of their new site. We barely got the <strong>first iteration out the door</strong> before partnering with The Criterion Collection to bring great films to the masses.</p>
    </div>
    <div id="from-blog" class="block">
      <h4 id="category-from-blog" class="block-category">FROM THE BLOG</h4>
      <h4 class="block-title"><a href="#" class="block-title-link" title="Happy Birthday - 45royale Turn Five!">Happy Birthday — 45royale Turns Five!</a></h4>
      <p class="block-taster">In Feburuary of 2006, 45royale opened up it's doors. We couldn't have made it this far without the support of our tantastic peers and outstanding clients.</p>
    </div>
    <div id="ad">
      <p id="ceo-name">Bart Decrem</p>
      <p id="ceo-title">CEO, Tapulaus</p>
      <p id="ceo-words">"45royale headed the Tapulous site build and they continue to deliver clean, elegant design — perfectly executed, on time and on budget."</p>
  </div>
</div>
<div id="footer">
  <div id="footer-wrap">
    <div id="info" class="footer-item">
      <h5 class="footer-item-title">45royale Inc.</h5>
      <p><strong>a web design studio</strong><br>34.23N, 84.42W</p>
    </div>
    <div id="hire-info" class="footer-item">
      <h5 class="footer-item-title">Want to work with us?</h5>
      <p>Fill out our <a href="#" class="footer-link" title="Request for proposal">Request for Proposal form</a> and tell us about your project.</p>
    </div>
    <div id="newsletter" class="footer-item">
      <h5 class="footer-item-title">Sign up for our newsletter</h5>
      <p>Get the latest news by <a href="#" class="footer-link" title="Sign up">signing up</a> for our quarterly newsletter.</p>
    </div>
    <div id="copyright" class="footer-item">
      <h5 class="footer-item-title">Copyright &copy; 2005-2011</h5>
      <p>All rights reserved. Please don't steal.<br>+1 404 946 9459 / <a href="mailto:info@45royale.com" class="footer-link" title="Email us">info@45royale.com</a></p>
    </div>
  </div>
</div>